nav.navbar.navbar‐default{   
  background‐color: ab;   
  border‐color: 2eda;   
  margin‐top: 10px; 
}

nav.navbar.navbar‐default a {   
  color: white; 
}

li p.navbar‐text, a.navbar‐brand {   
  color: white!important;   
  font‐weight: bolder; 
}

footer.footer {   
  background‐color: ab;   
  border‐color: 2eda;   
  margin‐top: px;   
  color: white;   
  border‐radius: px;
}

footer.footer p {   
  padding: 10px; 
}